@import url('normalize.css');
@import url('fonts.css');

app { animation: AppAnimation 2s ease-in; }
.logo { animation: LogoAnimation 2s cubic-bezier(0.71, 0, 0.26, 1.01); }

* { box-sizing: border-box; }

html {
    background-color: var(--header-footer-bg);
    --space-0: 4px;
    --space-1: 7px;
    --space-2: 12px;
    --space-3: 19px;
    --space-4: 30px;
    --space-5: 49px;
    --logo-height: 4rem;
    --logo-width: var(--logo-height) * 710 / 260;
    --header-height: calc(var(--logo-height) + var(--space-4));
    --footer-height: 5rem;
    --outer-padding: var(--space-4);
    --header-footer-bg: #006b41;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.01rem;
    line-height: var(--space-4);
    color: #222;
}

body {
    display: flex;
}

h1, h2, h3, h4, h5, .price, footer {
    font-family: 'Roboto Slab', sans-serif;
    color: #043f00;
}

app {
    flex-grow: 1;
    display: flex;
    background-color: #d0d0d0;
}

header {
    background-color: var(--header-footer-bg);
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--outer-padding);
    padding-left: calc(var(--logo-width) + 2*var(--outer-padding));
    justify-content: flex-end;
    box-shadow: 0 1px 4px rgba(0,0,0,0.8);
}

main {
    flex-grow: 1;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    min-width: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--header-footer-bg);
    align-items: center;
    display: flex;
    padding: 0 var(--outer-padding);
    flex-direction: row;
    font-size: 120%;
    --footer-text-color: #fff;
    color: var(--footer-text-color);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    animation: SlideInFooter 0.5s cubic-bezier(.12,.65,0,1);
}

.logo {
    position: fixed;
    width: var(--logo-width);
    height: var(--logo-height);
    z-index: 1;
    margin: calc((var(--header-height) - var(--logo-height)) / 2) var(--outer-padding);
}

.search {
    position: relative;
    flex-grow: 1;
    max-width: 15rem;
    --search-line-height: 30px;
}

.search input {
    width: 100%;
    padding: var(--space-0) var(--space-2);
    padding-left: 40px;
    border-radius: 0.25rem;
    border-width: 0;
    line-height: var(--search-line-height);
}

.search input:focus {
    outline: none;
}

.search:after {
    content: '🔍';
    filter: grayscale(100%);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 10px;
    line-height: calc(var(--search-line-height) + 2*var(--space-0));
    color: red;
}

.search input::placeholder {
    color: #666;
    font-weight: 200;
}

.cart-item {
    background-color: white;
    display: flex;
    align-items: center;
    padding: var(--space-2) var(--outer-padding);
    line-height: 28px;
    margin-top: var(--space-1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.cart-item:first-of-type {
    margin-top: var(--space-3);
}

.cart-item:last-of-type {
    margin-bottom: var(--space-4);
}

.cart-item img {
    width: 4rem;
    height: 4rem;
}

.cart-item .info {
    padding: 0 var(--space-4);
    flex-grow: 1;
    min-width: 0;
}

.cart-item .item-summary {
    text-align: right;
    width: 10rem;
}

.cart-item h3, .cart-item p {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.cart-item .info p {
    font-weight: 100;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item .price, footer .price {
    font-weight: 400;
    font-size: 150%;
}

.cart-item .quantity {
    font-weight: 100;
    color: #666;
}

footer div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

footer .price {
    color: var(--footer-text-color);
}

footer button, .overlay button {
    padding: var(--space-2) var(--space-4) var(--space-2) calc(var(--space-4) - 5px);
    border-radius: 4px;
    border-width: 0;
    background-color: rgba(255,255,255,0.25);
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

footer button:hover, .overlay button:hover {
    background-color: rgba(255,255,255,0.45);
    cursor: pointer;
}

.overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

    .overlay .content {
        background-color: var(--header-footer-bg);
        color: white;
        display: inline-block;
        margin: auto;
        padding: var(--space-3) var(--space-4);
        border-radius: 5px;
        box-shadow: 0 2px 4px black;
        text-align: center;
    }

    .overlay p {
        margin: var(--space-3);
        margin-top: var(--space-1);
    }

.yellow-flash {
    animation: YellowFlash 1s ease-out;
}

@keyframes SlideInFooter {
    from { transform: translateY(var(--footer-height)) }
    to { transform: translateY(0) }
}

@keyframes YellowFlash {
    from { background-color: #FFFF66; }
    to { background-color: white; }
}

@keyframes LogoAnimation {
    0% {
        transform: translate3d(calc(50vw - var(--logo-width)/2 - var(--outer-padding)), calc(30vh + 2rem), 0) scale(1.8);
        animation-timing-function: ease-out;
        opacity: 0;
    }
    50% {
        transform: translate3d(calc(50vw - var(--logo-width)/2 - var(--outer-padding)), 30vh, 0) scale(2);
        opacity: 1;
    }
    70% {
        transform: translate3d(calc(50vw - var(--logo-width)/2 - var(--outer-padding)), 30vh, 0) scale(2);
    }
    100% {
        transform: translate3d(0,0,0) scale(1);
    }
}

@keyframes AppAnimation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    html, body {        
        font-size: 12px;
        line-height: 20px;
        --space-0: 2.5px;
        --space-1: 4px;
        --space-2: 7px;
        --space-3: 12px;
        --space-4: 19px;
        --space-5: 30px;
        --logo-width: 130px;
    }

    .cart-item {
        line-height: 20px;
    }
}
